<!doctype html>
<html lang="en">

<head>
<%- include ("./partials/header.ejs") %>

  <title>Brew it UP!</title>
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>

<%- include ("./partials/navbar.ejs") %>

  <main role="main">

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4"><strong>Brew it UP!</strong></h1>
        <p class="lead" style="color: green">Conectando pessoas, ajudando pequenos negócios e distribuindo alegrias</p>
      </div>
    </div>

    <div class="container marketing mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <img class="rounded-circle" src="/img/distribuidores.jpg" alt="Imagem de caminhão" width="140"
            height="140">
          <h2>Distribuidores</h2>
          <p>Ajude a levar cerveja de qualidade e legitimamente artesanal para os quatro cantos do país!</p>
          <p><a class="btn btn-success" href="/api/distribuidores/login" role="button">Acessar &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="rounded-circle" src="/img/cervejarias.jpg" alt="Imagem de barris de cerveja de inox" width="140"
            height="140">
          <h2>Cervejarias</h2>
          <p>Mostre seu trabalho e divida seus sonhos com milhares de consumidores por todo o país!</p>
          <p><a class="btn btn-success" href="/api/cervejarias/login" role="button">Acessar &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Indústrias <span class="text-muted">Artesanais</span></h2>
          <p class="lead">Produtos legitimamente artesanais</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="/img/artesanal.jpg"
            alt="Copo com ingredientes de cerveja" style="border-radius: 10%">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Negócios <span class="text-muted">Independentes!</span></h2>
          <p class="lead">Fomentando o comércio local e os pequenos produtores</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="/img/independente.jpg"
            alt="Cerveja e ingredientes de cerveja" style="border-radius: 10%">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Orgulho de ser <span class="text-muted">brasileiro!</span></h2>
          <p class="lead">O melhor da cerveja e da cultura nacional!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="/img/brasileira.jpg"
            alt="Copo com ingredientes de cerveja" style="border-radius: 10%">
        </div>
      </div>

      <hr class="featurette-divider">

    </div>

    <footer class="container">
      <p class="float-right"><a href="#" style="color:green">Voltar ao topo</a></p>
      <p>Caroline Jandoso - carol.jandoso@gmail.com</p>
    </footer>
  </main>

<%- include ("./partials/footer.ejs") %>