<!doctype html>
<html lang="en">
  <head>
    <%- include ("./partials/header.ejs") %>
    <title>Cervejarias - Registro</title>
    <link href="/css/registro.css" rel="stylesheet">
  </head>

<div class="formulario-registro">

<form class="text-center p-5" method="POST" action="/api/cervejarias/registro">
        <img class="mb-4" src="/img/beer.png" alt="icone de copo de cerveja" width="72" height="72">

        <h1 class="h3 mb-3 font-weight-normal">Cervejarias</h1>
        <p class="h4 mb-4">Registro</p>
    
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Endereço de Email" required autofocus name="email" >

        <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required name="password">
      <div class="checkbox mb-3">
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            A senha deve conter letras e número. A senha deve conter no máximo 8 caracteres
        </small>

        <button class="btn btn-success my-4 btn-block" type="submit">Registrar-se</button>
    
        <hr>
    
        <p>Ao Clicar em 
                <em>Registrar-se</em> você estará concordando com nossos
                <a href="" target="_blank">termos de serviço</a>
    
    </form>
<p class="mt-5 mb-3 text-muted" id="footer">Brew it UP!</p>
    
</div>

<%- include ("./partials/footer.ejs") %>